/*
 * Variables
 */
$bubble-radius: 3px;
$bubble-tri-pos: 6px;
$bubble-margin-left: 10px;

$black: #000;
$grey_light: #f3f3f3;
$z-index-base: 80;

/*
 * Mixins
 */
@mixin vendor-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -os-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

/* ======================== */
/* ======================== */
.incom-bubble {
  margin-left: $bubble-margin-left;
  position: absolute;
  display: none;
  opacity: 0.7;
  text-align: center;
  font-size: 14px;
  z-index: $z-index-base + 1;
  &:hover {
    opacity: 1;
  }
  a {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: 0 10px 0;
    @include vendor-prefix( border-radius, $bubble-radius );
    &:hover {
      background: inherit;
    }
  }
}

.incom-bubble-style {
  background: $black;
  @include vendor-prefix( border-radius, $bubble-radius );
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px $bubble-tri-pos 5px 0;
    border-color: transparent $black;
    display: block;
    width: 0;
    z-index: $z-index-base + 2;
    margin-top: -5px;
    left: -$bubble-tri-pos;
    top: 50%;
  }
  a {
    color: #fff;
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    padding-top: 6px;
    padding-bottom: 5px;
  }
}

.incom-position-left .incom-bubble-style {
  margin-left: -$bubble-margin-left;
  &:after {
    border-width: 5px 0 5px $bubble-tri-pos;
    left: initial;
    right: -$bubble-tri-pos;
  }
}

.incom-comments-wrapper {
  @include vendor-prefix( box-sizing, border-box );
  position: absolute;
  background: #fff;
  width: 100%;
  max-width: 300px;
  padding: 9px 8px;
  z-index: $z-index-base;
  ul, li {
    list-style: none;
  }
  cite {
    font-style: normal;
    font-weight: bold;
    a {
      color: $black;
    }
  }
  .comment {
    padding: 11px 8px 10px;
    border-bottom: 1px solid $grey_light;
  }
  .comment-meta {
    display: inline;
    float: right;
  }
  .comment-author {
    padding: 0 0 0.3em;
  }
  img {
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
  .comment-respond input[type="email"], .comment-respond input[type="text"], .comment-respond input[type="url"] {
    width: 100%;
    max-width: 100%;
  }

}