/*
 * Variables
 */
$bubble-radius: 3px;
$bubble-tri-pos: 5px;
$bubble-margin-left: 10px;

$black: #000;
$grey_light: #f3f3f3;
$z-index-base: 2;

$vcard-image-size: 15px;

/*
 * Mixins
 */
@mixin vendor-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

/* ======================== */
/* ======================== */
.incom-bubble {
  margin-left: $bubble-margin-left;
  position: absolute;
  display: none;
  opacity: 0.7;
  text-align: center;
  font-size: 14px;
  z-index: $z-index-base + 1;
  &:hover {
    opacity: 1;
  }
  a {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: 0 10px 0;
    @include vendor-prefix( border-radius, $bubble-radius );
    &:hover {
      background: inherit;
    }
  }
}

.incom-bubble-style {
  background: $black;
  @include vendor-prefix( border-radius, $bubble-radius );
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px $bubble-tri-pos 5px 0;
    border-color: transparent $black;
    display: block;
    width: 0;
    z-index: $z-index-base + 2;
    margin-top: -5px;
    left: -$bubble-tri-pos;
    top: 50%;
  }
  a {
    color: #fff;
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    padding-top: 6px;
    padding-bottom: 5px;
  }
}

.incom-position-left {
  .incom-bubble-style {
    margin-left: -$bubble-margin-left;
    &:after {
      border-width: 5px 0 5px $bubble-tri-pos;
      left: initial;
      right: -$bubble-tri-pos;
    }
  }
}

.incom-comments-wrapper {
  @include vendor-prefix( box-sizing, border-box );
  border-left: 1px solid $grey_light;
  position: absolute;
  background: #fff;
  width: 100%;
  max-width: 300px;
  padding: 9px 8px;
  margin: 0 10px 0 10px;
  z-index: $z-index-base;
  ul, li {
    list-style: none;
  }
  cite {
    font-style: normal;
    font-weight: bold;
    a {
      color: $black;
    }
  }
  .comment {
    padding: 11px 8px 10px;
    border-bottom: 1px solid $grey_light;
  }
  .comment-meta {
    display: inline;
    float: right;
  }
  .comment-author {
    padding: 0 0 0.3em;
    position: initial;
  }
  .vcard img {
    @include vendor-prefix( border-radius, 50% );
    width: $vcard-image-size;
    height: $vcard-image-size;
  }
  img {
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
  input[type="email"], input[type="text"], input[type="url"] {
    width: 100%;
  }
  textarea, input {
    max-width: 100%;
  }
}
.incom-info-icon {
    @include vendor-prefix( border-radius, 50% );
    border: 2px solid $black;
    width: 19px;
    height: 19px;
    line-height: 19px;
    display: block;
    text-align: center;
    opacity: 0.3;
    margin: 1px 8px 1px auto;
    color: $black;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
}